<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924805813069-ggr7s7dcsf0ikfg0dsspdhlg4qgl55bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924805813069-ggr7s7dcsf0ikfg0dsspdhlg4qgl55bt</string>
	<key>API_KEY</key>
	<string>AIzaSyAPEFkWw8sAH1aJ79qDi4s-1_MY24R7DjA</string>
	<key>GCM_SENDER_ID</key>
	<string>924805813069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayone.commune</string>
	<key>PROJECT_ID</key>
	<string>commune0510</string>
	<key>STORAGE_BUCKET</key>
	<string>commune0510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924805813069:ios:a725e0978f17d9f7</string>
	<key>DATABASE_URL</key>
	<string>https://commune0510.firebaseio.com</string>
</dict>
</plist>